    </div>

    <footer class="text-light bg-dark py-3 mt-3">
        <div class="container">
            <p class="text-center text-light m-0 small">Copyright&nbsp;© Whiteboard 2021</p>
        </div>
    </footer>
</body>