<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-wid/th, initial-scale=1.0, shrink-to-fit=no">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> -->
    <title>Whiteboard</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="/stylesheets/global.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="/scripts/tooltip.js"></script>
    
    <header class="sticky-top bg-dark">
        <nav class="navbar navbar-dark navbar-expand-md bg-dark">
            <div class="container-fluid">
                <a id="bk-btn" class="ml-0" href="javascript:history.back()" role="button">
                    <i class="fa fa-chevron-left text-white p-2"></i>
                </a>
                <a class="navbar-brand font-weight-bold" href="/">Whiteboard</a>
                <div class="d-flex align-items-center header-icon">
                    <div class="ml-auto">
                        <a href="/messages/">
                            <i class="fa fa-comments" style="font-size: 1.5em; color: white;"></i>
                        </a>
                        <% if (typeof badgeCount != "undefined") { %>
                            <span class="badge <%= badgeCount > 0 ? "badge-danger" : "badge-primary" %>">
                                <%= badgeCount %>
                            </span>
                        <% } %>
                    </div>
                    <div class="ml-3">
                        <% if (typeof session.user != "undefined") { %>
                            <a class="text-white" href="/myprofile/" >
                                <i class="fa fa-user" style="font-size: 1.5em;"></i> <%= session.user.name %>
                            </a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>
    </header>
</head>

<body class="bg-dark">
    <div class="bg-white pt-3">
    <!-- style="color: var(--gray-dark);" -->
        <div class="container" >