<title>Login</title>
<form method="POST">
	Username: <input name="username" type="text" /> <br />
	Password: <input name="password" type="password" />
	<input type="submit" />
</form>
<% if (failed) { %>
<h1>Login failed!</h1>
<% } %>
