<title>Login</title>
<form method="POST">
	Username: <input name="username" type="text" <% if (locals.dbg) { %>
		value="student1"
	<% } %>/> <br />
	Password: <input name="password" type="password" <% if (locals.dbg) { %>
		value="student1"
	<% } %>/>
	<input type="submit" />
</form>
<% if (failed) { %>
<h1>Login failed!</h1>
<% } %>
