.card-content{
    border-radius: 50px 50px 0px 0px;
    box-shadow: 5px 10px 10px 10px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: #0d6dfd00;
    padding: 10px;
}

.rcorners {
    border-radius: 20px;
    width: 120px;
    height: 80px;
    margin: 5px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bg-img{
    background-image: url('/images/bg1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bg-stu{
    background-image: url(/images/bg2.png);
    background-position: right;
    background-size: cover;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.241);
}

.bg-tea{
    background-image: url(/images/bg4.png);
    background-position: center;
    background-size: contain;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.241);
    
}


/*callout*/
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h5 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h5 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h5 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h5 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h5 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h5 {
    color: #5bc0de;
}
.bs-callout-pending {
    border-left-color: #8c8fd8;
}
.bs-callout-pending h5 {
    color: #8c8fd8;
}
.bs-callout-finished {
    border-left-color: #7bb0ae;
}
.bs-callout-finished h5 {
    color: #7bb0ae;
}


