<%- include('../_header'); %>

<script src="/scripts/taskNew.js" defer></script>
<link rel="stylesheet" href="/stylesheets/index.css">

<section class="mb-4">
    <form method="POST">
        <div class="rcorners p-2 p-4 ml-0" style="background-color: #54938c; width: 100%; height: auto;">
            <p class="h1 mb-0 p-0"><i class="fa fa-file-text"></i> New Task</p>
            <div class="input-group shadow mt-2">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-text-width pr-1"></i>  Task Title</span>
                </div>
                <input type="text" class="form-control" name="title" placeholder="Task title..." required>
    
            </div>
            <div class="input-group mt-1 shadow">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-crosshairs pr-1"></i> Class</span>
                </div>
                <select class="form-control" name="class" required>
                    <% for (const _class of classes) { %>
                        <option value="<%= _class.id %>"><%= _class.name %></option>
                    <% } %>
                </select>
    
            </div>
        
            <div class="input-group mt-1 shadow">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-check-o pr-1"></i> Start</span>
                </div>
                <input type="datetime-local" class="form-control" name="start" id="start" required>
            </div>
            <div class="input-group mt-1 shadow">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar-times-o pr-1"></i> End</span>
                </div>
                <input type="datetime-local" class="form-control" name="end" id="end" required>
 
            </div>
        </div>
        <div class="rcorners p-2 p-4 ml-0 mt-3" style="background-color: #54938c00; width: 100%; height: auto;">
            <h1 class="h1 mb-0 p-0 mb-2 text-secondary"> <i class="fa fa-stack-exchange"></i> Description</h1>
            <textarea name="description"></textarea>
        </div>
        
        <div class="rcorners p-2 p-4 ml-0 mt-3" style="background-color: #2778bfa1; width: 100%; height: auto;">
            <h1 class="h1 mb-0 p-0 mb-2"> <i class="fa fa-question-circle"></i> Questions</h1>
            <div id="questionContainers"></div>    
        </div>
        <input type="submit" class="btn btn-success btn-lg col-sm-12 mt-3 shadow" value="Submit"></button>
    </form>

</section>

<template id="questionContainerTemp">
    <div class="questionContainer">
        <div class="input-group">
            <input type="text" class="form-control" required placeholder="Question" />
        </div>
    </div>
</template>

<template id="answerTemp">
    <div class="input-group">
        <div class="input-group-text">
            <input type="radio">
        </div>
        <input type="text" class="form-control" placeholder="Answer" required>
        <div class="input-group-append">
            <button class="btn btn-danger removeABtn" type="button">
                <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-info addABtn" type="button">
                <i class="fa fa-plus-circle"></i>
            </button>
        </div>
    </div>
</template>

<template id="actionTemp">
    <div class="d-flex">
        <button class="btn btn-danger col removeQBtn mt-2">
            <i class="fa fa-trash"></i>
        </button>
        <button class="btn btn-primary col addQBtn mt-2">
            <i class="fa fa-plus-circle"></i> 
        </button>
    </div>
</template>

<%- include('../_footer'); %>